nav{
  background-color: #101b27 !important;

  .navbar-collapse{
    margin-left: 10px;
  }

  button.navbar-toggler{
    border: none;
    /*Disable focus click*/
    outline: 0px;
  }

  .navbar-brand{
    padding-bottom: 0px;
    .navbar-icon{
      fill: white;
      width: 32px;
      margin-left: 10px;
    }
  }
}
